.EditAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 30px 0;
}

.EditAccount .ui.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EditAccount .ui.form .field {
  width: 100%;
}

.EditAccount .image-btns {
  margin-bottom: 10px;
}

.EditAccount .uploaded-image {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}
