.UserInfo .flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.UserInfo {
  width: 60%;
  margin: 15px;
}

.UserInfo h2 {
  margin-top: 0;
}

@media (max-width: 415px) {
  .UserInfo {
    width: 90%;
  }
}
