.Footer {
  width: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.Footer p {
  margin: 2px;
}

#github-icon {
  font-size: 1.5em;
  margin-top: 5px;
  color: rgb(0, 0, 0, 0.6);
  transition: color 0.5s;
}

#github-icon:hover {
  color: rgb(0, 0, 0, 1);
}
