.Navbar .ui.menu {
  border: none;
  border-radius: 0%;
  background-color: #96c4a9;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
}

.Navbar .ui.menu .item {
  color: #e6ffec;
}

.Navbar .ui.button {
  background-color: #ffb402;
  font-family: "Roboto Slab", serif;
}

.Navbar .ui.button:hover {
  background-color: #e8a300;
}

.Navbar .ui.button:focus {
  background-color: #e8a300;
}

.Navbar .ui.labeled.icon.button {
  display: flex;
  align-items: center;
}

.Navbar .ui.menu .right.menu .burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  color: #e6ffec;
  padding: 0 20px;
}

@media (max-width: 800px) {
  .Navbar .ui.menu .right.menu .item {
    display: none;
  }
  .Navbar .ui.menu .right.menu .dropdown.burger-menu .item {
    display: block;
    /* margin: 25px 10px; */
  }
  .Navbar .ui.menu .right.menu .dropdown.burger-menu .item .span {
    margin: 25px 10px;
  }
  .Navbar .ui.menu .ui.dropdown .menu > .item {
    color: #658673 !important;
  }
  .Navbar .ui.menu .right.menu .burger-menu {
    display: flex;
  }
  .Navbar .ui.menu .right.menu .burger-menu .menu {
    background-color: #e6ffec;
  }
  /* Login SignUp burger bar */
  .Navbar .ui.menu .item .Login .item {
    color: #658673;
  }
  .ui.menu .ui.dropdown .menu.signed-out-menu > .item {
    padding: 0 !important;
  }
}

@media (max-width: 390px) {
  .Navbar .ui.menu:not(.vertical) .item {
    display: none;
  }
}
