.CreatePattern {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  min-height: 75vh;
}

.CreatePattern .design-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 30px 0;
}

.CreatePattern .design-form .ui.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.CreatePattern .design-form .ui.form .field {
  width: 100%;
}

.CreatePattern .design-form .image-btns {
  margin-bottom: 10px;
}

.CreatePattern .design-form .uploaded-image {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}

.CreatePattern .example-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
