.CreatePattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 30px 0;
}

.CreatePattern .ui.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreatePattern .ui.form .field {
  width: 100%;
}

.CreatePattern .image-btns {
  margin-bottom: 10px;
}
