.Pattern .ui.dropdown {
  float: right;
  color: rgb(0, 0, 0, 0.5);
}

.Pattern .ui.card > .extra a:not(.ui) .username {
  color: blue;
}

.ui.card.Pattern {
  margin: 10px;
}

.ui.card.Pattern:first-child {
  margin: 10px;
}

.ui.card.Pattern:last-child {
  margin: 10px;
}

.ui.card.Pattern .extra {
  font-family: sans-serif;
}

.ui.card.Pattern .content .header {
  font-family: "Roboto Slab", serif;
}
